<html>

<head>
<title>test</title>

script(type="text/javascript") function reload(){mypic.src="/getpic?ram="+Math.random();} setInterval("reload()",1000);
 
</head>
<body>
<div>
<h2>pic</h2>
<div>
<img src='/getpic' id="mypic" />
</div>
</div>
</body>
</html>